body {
    background-image: url(../img/main-interact.jpg);
    background-position: center;
    backdrop-filter: blur(3px);
    height: max-content;
    background-size: cover;
    overflow: auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    text-align: center;
}

header > a {
    z-index: 10;
}

.logo {
    width: 6vw;
    padding: 20px 20px 0 0;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 2vw 2vw 2vw 4vw;
}

.wrapper a{
    display: block;
    width: 8vw;
    height: fit-content;
    line-height: 40px;
    font-size: 1.15vw;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--main-dark-blue);
    border: 2px solid var(--main-dark-blue);
    border-radius: 15px;
    backdrop-filter: blur(2px);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
  
a span{
    position: relative;
    z-index: 200;
}
  
.wrapper > a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-dark-blue);
    border-radius: 11px;
    transition: all .35s;
}
  
.wrapper > a:hover{
    color: #fff;
}
  
.wrapper > a:hover:after{
    width: 100%;
}





main {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 65vw;
    height: auto;
    margin:0 auto;
}

.title {
    text-align: center;
}

.title, .article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 3vw 1vw 3vw;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: rgba(255, 255, 255, 1);
}

p {
    font-size: 1.25vw;
    text-align: justify;
}

h1 {
    margin: 0;
    font-size: 2.2vw;
}

.ligne {
    text-align: center;
}

h2, h3, h4 {
    margin: 0;
    font-size: 2vw;
}

.limg {
    display: flex;
    justify-content: space-between;
    margin: 5vh 0 5vh 0;
}

.limg > p {
    width: 60%;
}

.limg > img {
    object-fit: contain;
    width: 20vw;
    height: auto;
}

audio {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 1000;
    height: 4vh;
}

p {
    text-indent: 65px;
}

