
body {
    overflow: auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    text-align: center;
}

header > a {
    z-index: 10;
}

.logo {
    width: 6vw;
    padding: 20px 20px 0 0;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 2vw 2vw 2vw 4vw;
}

.wrapper a{
    display: block;
    width: 8vw;
    height: fit-content;
    line-height: 40px;
    font-size: 1.15vw;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--main-dark-blue);
    border: 2px solid var(--main-dark-blue);
    border-radius: 15px;
    backdrop-filter: blur(2px);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
  
 a span{
    position: relative;
    z-index: 200;
}
  
.wrapper > a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-dark-blue);
    border-radius: 11px;
    transition: all .35s;
}
  
.wrapper > a:hover{
    color: #fff;
}
  
.wrapper > a:hover:after{
    width: 100%;
}


main {
    margin: 0 auto;
    width: 1200px;
    height: auto;
}

.architecture-img {
    width: 100%;
}