header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}
  
a{
    display: block;
    width: 7vw;
    height: fit-content;
    line-height: 40px;
    font-size: 1vw;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--main-dark-blue);
    border: 2px solid var(--main-dark-blue);
    border-radius: 15px;
    backdrop-filter: blur(2px);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
  
 a span{
    position: relative;
    z-index: 2;
}
  
a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-dark-blue);
    border-radius: 11px;
    transition: all .35s;
}
  
a:hover{
    color: #fff;
}
  
a:hover:after{
    width: 100%;
}

.logo {
    width: 6vw;
}

/* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 */
/* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 */
/* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 */
/* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 */

.body-interact-1 {
    background-image: url(../img/main-interact.jpg);
    background-size: cover;
}

.hover_group:hover {
    opacity: 1;
}
  
#projectsvg {
    position: relative;
    width: 100%;
    padding-bottom: 77%;
    vertical-align: middle;
    margin: 0;
}
  
#projectsvg svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}