header {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    text-align: center;
}

header > a {
    z-index: 10;
}

.logo {
    width: 6vw;
    padding: 20px 20px 0 0;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 2vw 2vw 2vw 4vw;
}

.wrapper a{
    display: block;
    width: 10vw;
    height: fit-content;
    line-height: 40px;
    font-size: 1.15vw;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--main-dark-blue);
    border: 2px solid var(--main-dark-blue);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
  
a span{
    position: relative;
    z-index: 200;
}
  
.wrapper > a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-dark-blue);
    border-radius: 11px;
    transition: all .35s;
}
  
.wrapper > a:hover{
    color: #fff;
}
  
.wrapper > a:hover:after{
    width: 100%;
}

/* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 */
/* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 */
/* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 */
/* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 *//* INTERACTION 1 */



.body-interact-1 {
    background-image: url(../img/main-interact.jpg);
    background-size: cover;
}

rect {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    fill: var(--main-white);
}

text {
    pointer-events: none;
    opacity: 0;
    font-size: 35px;
    font-weight: 600;
    fill: var(--main-dark-blue);
    transition: all 0.2s ease-in-out;
}

rect:hover {
    font-size: 15px;
    opacity: 0.25;
    text-align: center;
}

rect:hover ~ text {
    opacity: 1;
}
  
#projectsvg {
    position: relative;
    width: 100%;
    padding-bottom: 77%;
    vertical-align: middle;
    margin: 0;
}
  
#projectsvg svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

/* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 */
/* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 */
/* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 */
/* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 *//* INTERACTION 2 */

.body-interact-2 {
    background-image: url(../img/interieur-interact.jpg);
    background-size: cover;
}

/* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 */
/* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 */
/* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 */
/* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 *//* INTERACTION 3 */

.body-interact-3 {
    background-image: url(../img/bibliotheque-interact.jpg);
    background-size: cover;
}

.easteregg rect:hover {
    opacity: 0;
}