body {
    margin: 0;
    background-image: url(../img/home-sketch.png);
    width: 100%;
    height: 100vh;
    /*a voir si sa bug pas*/
    background-size: cover;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: right;
    padding-top: 20px;
    padding-right: 20px;
}

.logo {
    width: 6vw;
}

main {
    margin: 0;
}

.grid {
    border-radius: 30px;
    margin: 0 auto;
    width:fit-content;
    height:fit-content;
    display:grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    gap: 0.75vw;
    margin-top: 2vw;
}

.tile {
    width: 25vw;
    height: 15vw;
    backdrop-filter: blur(4px);
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.tile:hover {
    backdrop-filter: blur(7px);
    transform: scale(108%);
    z-index: 1000;
}

h1,h2,h3,h4 {
    font-size: 2vw;
    color: var(--main-dark-blue);
}

p {
    font-size: 1.15vw;
}

.button {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-first {
    left: 0;
    bottom: 0;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    color: var(--main-white);
    background-color: var(--main-dark-blue);
    border-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    
}

.b1 {
    animation: ButtononloadB1 2.25s ease-in-out;
}

@keyframes ButtononloadB1 {
    from { transform: translateY(1.5vw); opacity: 0; }
    75% { transform: translateY(1.5vw); opacity: 0; }
    to { transform: translateY(0vw); opacity: 1; }
}

.btn-first:hover {
    backdrop-filter: blur(2px);
    background: transparent;
    color: var(--main-dark-blue);
    border-color: var(--main-dark-blue);
    transform: translateY(-15px);
    /* width: 375px; */
}

.mendy {
    animation: Mendyonload 1s ease-in-out;
}
.titouan {
    animation: Mendyonload 1.5s ease-in-out;
}
.nina {
    animation: Mendyonload 2s ease-in-out;
}
.chloe {
    animation: Mendyonload 2.5s ease-in-out;
}

@keyframes Mendyonload {
    from { transform: translateY(-2vw); opacity: 0; }
    to { transform: translateY(0vw); opacity: 1; }
}